[ACCOUNT]
character-username = Dennis
character-password = 12345

[CHARACTER]
character-height = 0
character-posx = 3213
character-posy = 3424
character-rights = 0
crystal-bow-shots = 0
skull-timer = 0
magic-book = 0
brother-info = 0	0
brother-info = 1	0
brother-info = 2	0
brother-info = 3	0
brother-info = 4	0
brother-info = 5	0
special-amount = 10.0
selected-coffin = 3
barrows-killcount = 0
teleblock-length = 0
pc-points = 0
slayerTask = 0
taskAmount = 0
magePoints = 0
autoRet = 0
barrowskillcount = 0
flagged = false
wave = 0
gwkc = 0
fightMode = 0
void = 0	0	0	0	0

[EQUIPMENT]
character-equip = 0	-1	1	
character-equip = 1	-1	1	
character-equip = 2	-1	1	
character-equip = 3	868	55552	
character-equip = 4	4736	1	
character-equip = 5	-1	1	
character-equip = 6	-1	0	
character-equip = 7	4738	1	
character-equip = 8	-1	0	
character-equip = 9	-1	1	
character-equip = 10	-1	1	
character-equip = 11	-1	0	
character-equip = 12	-1	1	
character-equip = 13	-1	0	

[LOOK]
character-look = 0	0
character-look = 1	7
character-look = 2	25
character-look = 3	29
character-look = 4	35
character-look = 5	39
character-look = 6	44
character-look = 7	14
character-look = 8	7
character-look = 9	8
character-look = 10	9
character-look = 11	5
character-look = 12	0

[SKILLS]
character-skill = 0	99	30002800
character-skill = 1	99	30000000
character-skill = 2	99	30000000
character-skill = 3	73	13034436
character-skill = 4	99	30001400
character-skill = 5	33	30000000
character-skill = 6	99	30000000
character-skill = 7	99	30000000
character-skill = 8	99	30000000
character-skill = 9	99	30000000
character-skill = 10	99	30000000
character-skill = 11	99	30000000
character-skill = 12	99	30000000
character-skill = 13	99	30000000
character-skill = 14	99	30000000
character-skill = 15	99	30000000
character-skill = 16	99	30000000
character-skill = 17	99	30000000
character-skill = 18	99	30000000
character-skill = 19	99	30000000
character-skill = 20	99	30000000
character-skill = 21	1	0
character-skill = 22	1	0
character-skill = 23	1	0
character-skill = 24	1	0

[ITEMS]
character-item = 0	996	50000
character-item = 1	953	1
character-item = 2	3027	1
character-item = 3	3025	1
character-item = 4	3025	1
character-item = 5	3025	1
character-item = 6	3025	1

[BANK]

[FRIENDS]
character-friend = 0	1020628

[EOF]

